<form action="/deposit" method="POST" id="depositForm" class="p-3 mt-5 border border-3 rounded">
    <div class="mb-3 row">
        <label for="depositAmount" class="col-sm-2 col-form-label">Amount to deposit</label>
        <div class="col-sm-10">
            <input type="number" name="depositAmount" class="form-control" id="depositAmount">
            <div style="color: red; display: none;" id="invalid-depositAmount">Invalid number</div>
            <div style="color: red; display: none;" id="depositAmountRequired">This field is required</div>
        </div>
    </div>
    <button type="button" id="depositSubmitBtn" class="btn btn-primary">Submit</button>
</form>

<script src="/js/deposit.js"></script>