<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">

    <body>
        <%- include('../partials/navbar') %>

            <div class="container-fluid">

                <!-- <div class="mt-3" style="height: 500px; width: 100%;">
                    <img src="/images/Bank.jpg" alt="Bank">
                </div> -->

                <div class="mt-3 d-flex justify-content-center align-items-center">
                    <div style="flex:1" class="px-5">
                        <h1>HEADER</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat impedit culpa quas repellendus aspernatur quae in nobis dolores similique veritatis eligendi, facere illum labore iure atque tenetur voluptatum, distinctio vitae. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. Repellat impedit culpa quas repellendus aspernatur quae in nobis dolores similique veritatis eligendi, facere illum labore iure atque tenetur voluptatum, distinctio vitae. Lorem ipsum dolor
                            sit amet, consectetur adipisicing elit. Repellat impedit culpa quas repellendus aspernatur quae in nobis dolores similique veritatis eligendi, facere illum labore iure atque tenetur voluptatum, distinctio vitae. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit. Repellat impedit culpa quas repellendus aspernatur quae in nobis dolores similique veritatis eligendi, facere illum labore iure atque tenetur voluptatum, distinctio vitae.
                        </p>
                        <button class="btn btn-primary">Know more</button>
                    </div>
                    <div style="flex:1">
                        <img src="/images/Bank2.jpg" alt="">
                    </div>
                </div>

                <div class="mt-3 d-flex align-items-center">
                    <div style="flex:1">
                        <img src="/images/People.jpg" alt="">
                    </div>
                    <div style="flex:1" class="px-5">
                        <h1 class="text-center">Lorem Ipsum</h1>
                        <hr>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias error qui, nemo hic tempore aliquid id. Natus, dolores perferendis magnam expedita corporis, quas ad suscipit minus dolorem numquam iste repellat. Lorem ipsum dolor, sit amet consectetur
                            adipisicing elit. Molestias error qui, nemo hic tempore aliquid id. Natus, dolores perferendis magnam expedita corporis, quas ad suscipit minus dolorem numquam iste repellat. Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Molestias error qui, nemo hic tempore aliquid id. Natus, dolores perferendis magnam expedita corporis, quas ad suscipit minus dolorem numquam iste repellat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias
                            error qui, nemo hic tempore aliquid id. Natus, dolores perferendis magnam expedita corporis, quas ad suscipit minus dolorem numquam iste repellat.
                        </p>
                    </div>
                </div>

                <div class="mt-3 p-4 bg-light">
                    <h1 class="text-center">Our Services</h1>
                    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <!-- <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div> -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row justify-content-around">
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <div class="card" style="width: 18rem;">
                                            <img src="/images/Transfer_Money.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Transfer Money</h5>
                                                <p class="card-text">lorem ipsum text lorem ipsum text lorem ipsum text lorem ipsum text</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <div class="card" style="width: 18rem;">
                                            <img src="/images/Online_Banking.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Online Banking</h5>
                                                <p class="card-text">lorem ipsum text lorem ipsum text lorem ipsum text lorem ipsum text</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <div class="card" style="width: 18rem;">
                                            <img src="/images/Online_Payment.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Online Payment</h5>
                                                <p class="card-text">lorem ipsum text lorem ipsum text lorem ipsum text lorem ipsum text</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <div class="card" style="width: 18rem;">
                                            <img src="/images/Savings_Account.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Savings Account</h5>
                                                <p class="card-text">lorem ipsum text lorem ipsum text lorem ipsum text lorem ipsum text</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <div class="card" style="width: 18rem;">
                                            <img src="/images/Credit_Card.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Virtual Debit Card</h5>
                                                <p class="card-text">lorem ipsum text lorem ipsum text lorem ipsum text lorem ipsum text</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <div class="card" style="width: 18rem;">
                                            <img src="/images/Loan.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Personal/Hom/Car Loan</h5>
                                                <p class="card-text">lorem ipsum text lorem ipsum text lorem ipsum text lorem ipsum text</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>

                <div class="mt-3 py-4">
                    <h3 class="text-center">FAQ</h3>
                    <!-- <hr> -->
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Question 1
                        </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias qui veritatis maiores veniam porro tempore dolores officia aliquid? Ut optio nulla unde alias quia laudantium iusto asperiores est ipsum dolorem.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Question 2
                        </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis dolorem laboriosam illum reprehenderit tempore libero voluptatibus dolorum assumenda enim placeat quam odio itaque, quo ullam nobis vero ab fuga doloremque.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Question 3
                        </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt id enim. Nihil quibusdam non voluptatem explicabo! Odit temporibus ab repudiandae quasi, blanditiis quas, tempora, dicta laboriosam rem vitae possimus.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Question 4
                        </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt id enim. Nihil quibusdam non voluptatem explicabo! Odit temporibus ab repudiandae quasi, blanditiis quas, tempora, dicta laboriosam rem vitae possimus.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Question 5
                        </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nesciunt id enim. Nihil quibusdam non voluptatem explicabo! Odit temporibus ab repudiandae quasi, blanditiis quas, tempora, dicta laboriosam rem vitae possimus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-4 p-4 d-flex justify-content-around bg-light footer">
                    <div class="d-flex flex-column mx-4">
                        <h4>About</h4>
                        <hr>
                        <a href="#">Overview</a>
                        <a href="#">History</a>
                        <a href="#">Board Of directors</a>
                        <a href="#">Career</a>
                        <a href="#">Awards</a>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <h4>Shareholder's Corner</h4>
                        <hr>
                        <a href="#">Overview</a>
                        <a href="#">Unpaid dividends</a>
                        <a href="#">Annual Reports</a>
                        <a href="#">Financial Reports</a>
                        <a href="#">Shareholding pattern</a>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <h4>Media center</h4>
                        <hr>
                        <a href="#">Corporate Profile</a>
                        <a href="#">Vision and values</a>
                        <a href="#">Press release</a>
                        <a href="#">Gallery</a>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <h4>Customer Care</h4>
                        <hr>
                        <a href="#">Customer Information</a>
                        <a href="#">Doorstep Banking</a>
                        <a href="#">Online complaints</a>
                        <a href="#">Track status</a>
                        <a href="#">Right to information act</a>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <h4>Contact Us</h4>
                        <hr>
                        <form action="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="queryEmail" placeholder="name@example.com">
                                <label for="queryEmail">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Leave your query here" id="query" style="height: 100px"></textarea>
                                <label for="query">Query</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>

    </html>